<h1 style="color:orange;">This is our friends app</h1>
<p style="color:green;">In this you can add your friends </p>
<p style="color:green;">Name, email, phone, etc. </p>
<p style="font-size:50px;">And you can edit it,</p>
<p style="font-size:50px; color:red">You can delete it.</p>

